*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    color: aliceblue;
}
#root{
    width: 55%;
    margin: 0 auto;
    background-color: blueviolet;
}

.root-element{
    width: 70%;
    margin: 0 auto;
    background-color: darkgrey;
}
.FaceImage{
    display: block;
    width: 80%;
    margin:  0 auto;
}
.root-element > *{
   display: block;
    width: 80%;
    margin:  0 auto;
}

